<!DOCTYPE html>
<html lang="en">

<head>
	<title>DB Model Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<p><a th:href="@{/admin-panel}">admin panel</a></p>
	<p><a th:href="@{/building}">building</a></p>
	<p><a th:href="@{/course}">course</a></p>
	<p><a th:href="@{/department}">department</a></p>
	<p><a th:href="@{/group}">group</a></p>
	<p><a th:href="@{/lesson}">lesson</a></p>
	<p><a th:href="@{/room}">room</a></p>
	<p><a th:href="@{/specialization}">specialization</a></p>
	<p><a th:href="@{/student}">student</a></p>
	<p><a th:href="@{/teacher}">teacher</a></p>
</body>

</html>